.jumbotron {
  background-color: #122b52
}

body {
  background-color: #122b52
}

.table td {
  background-color: #fff;
}

.d-block bg-dark {
  background-color: #ffffff;
}

.my-custom-scrollbar {
position: relative;
height: 600px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
}
